In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle as pkl
import json
import requests

from CP_trend import expand_months_manual

from pandas.io.json import json_normalize

Following API call will return  weekly  product sku counts & price time series data with floral in the product name and description under women category for Target (r3) for last 3 month
https://market-api-3.trendalytics.co/v1/products/histogram?filters=sku&cat=women&fts=floral&fl=r3&regions=us&pricetype=current&sku_by=week&month_span=3

In [2]:
api_endpt = 'https://market-api-3.trendalytics.co/v1/products/histogram?filters=sku&cat=womens-clothes'\
            '&fts=high%20waisted%20jeans&fl=r58533412-zara&'\
            'regions=us&pricetype=current&sku_by=week&month_span=24'

#            'https://market-api-3.trendalytics.co/v1/products/histogram?filters=sku&cat=women'\
#            '&fts=floral&fl=r3&'\
#            'regions=us&pricetype=current&sku_by=week&month_span=24


response = requests.get(api_endpt)
output = json.loads(response.content.decode('utf-8'))

In [3]:
len(output['categoryHistogram'])

27

In [4]:
[ x['id'] for x in output['categoryHistogram']]

['clothes-shoes-and-jewelry',
 'women',
 'womens-clothes',
 'jeans',
 'skinny-jeans',
 'flare-jeans',
 'straight-leg-jeans',
 'relaxed-jeans',
 'cropped-jeans',
 'kids-and-baby',
 'kids-and-baby-clothing',
 'girls-jeans',
 'distressed-jeans',
 'men',
 'mens-clothes',
 'mens-jeans',
 'stretch-jeans',
 'bootcut-jeans',
 'classic-jeans',
 'mens-straight-leg-jeans',
 'shorts',
 'kids-jeans',
 'boys-jeans',
 'mens-distressed-jeans',
 'mens-relaxed-jeans',
 'wide-leg-pants',
 'womens-pants']

In [5]:
len(output['skuHistogram'])

105

In [7]:
output['skuHistogram']

[{'id': '0',
  'name': '2017-10-22 to 10-28',
  'from': '2017-10-22T00:00:00.000Z',
  'to': '2017-10-28T23:59:59.999Z',
  'count': 0,
  'price': [{}]},
 {'id': '1',
  'name': '2017-10-29 to 11-04',
  'from': '2017-10-29T00:00:00.000Z',
  'to': '2017-11-04T23:59:59.999Z',
  'count': 16,
  'price': [{'usd': {'max': 69.9,
     'min': 29.9,
     'sum': 672.3999999999999,
     'avg': 42.02,
     'lower_quartile': 35.9,
     'median': 39.9,
     'upper_quartile': 49.9,
     'count': 16}}]},
 {'id': '2',
  'name': '2017-11-05 to 11-11',
  'from': '2017-11-05T00:00:00.000Z',
  'to': '2017-11-11T23:59:59.999Z',
  'count': 90,
  'price': [{'usd': {'max': 89.9,
     'min': 29.9,
     'sum': 3935,
     'avg': 43.72,
     'lower_quartile': 29.9,
     'median': 39.9,
     'upper_quartile': 49.9,
     'count': 90}}]},
 {'id': '3',
  'name': '2017-11-12 to 11-18',
  'from': '2017-11-12T00:00:00.000Z',
  'to': '2017-11-18T23:59:59.999Z',
  'count': 102,
  'price': [{'usd': {'max': 89.9,
     'min': 29.9,
     'sum': 4583.8,
     'avg': 44.94,
     'lower_quartile': 35.9,
     'median': 39.9,
     'upper_quartile': 49.9,
     'count': 102}}]},
 {'id': '4',
  'name': '2017-11-19 to 11-25',
  'from': '2017-11-19T00:00:00.000Z',
  'to': '2017-11-25T23:59:59.999Z',
  'count': 91,
  'price': [{'usd': {'max': 89.9,
     'min': 29.9,
     'sum': 4088.9,
     'avg': 44.93,
     'lower_quartile': 35.9,
     'median': 39.9,
     'upper_quartile': 49.9,
     'count': 91}}]},
 {'id': '5',
  'name': '2017-11-26 to 12-02',
  'from': '2017-11-26T00:00:00.000Z',
  'to': '2017-12-02T23:59:59.999Z',
  'count': 0,
  'price': [{}]},
 {'id': '6',
  'name': '2017-12-03 to 12-09',
  'from': '2017-12-03T00:00:00.000Z',
  'to': '2017-12-09T23:59:59.999Z',
  'count': 105,
  'price': [{'usd': {'max': 89.9,
     'min': 29.9,
     'sum': 4773.499999999999,
     'avg': 45.46,
     'lower_quartile': 35.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 105}}]},
 {'id': '7',
  'name': '2017-12-10 to 12-16',
  'from': '2017-12-10T00:00:00.000Z',
  'to': '2017-12-16T23:59:59.999Z',
  'count': 97,
  'price': [{'usd': {'max': 89.9,
     'min': 29.9,
     'sum': 4496.3,
     'avg': 46.35,
     'lower_quartile': 35.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 97}}]},
 {'id': '8',
  'name': '2017-12-17 to 12-23',
  'from': '2017-12-17T00:00:00.000Z',
  'to': '2017-12-23T23:59:59.999Z',
  'count': 98,
  'price': [{'usd': {'max': 89.9,
     'min': 29.9,
     'sum': 4526.200000000001,
     'avg': 46.19,
     'lower_quartile': 35.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 98}}]},
 {'id': '9',
  'name': '2017-12-24 to 12-30',
  'from': '2017-12-24T00:00:00.000Z',
  'to': '2017-12-30T23:59:59.999Z',
  'count': 72,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 2174.6499999999996,
     'avg': 30.2,
     'lower_quartile': 19.99,
     'median': 29.99,
     'upper_quartile': 29.99,
     'count': 72}}]},
 {'id': '10',
  'name': '2017-12-31 to 01-06',
  'from': '2017-12-31T00:00:00.000Z',
  'to': '2018-01-06T23:59:59.999Z',
  'count': 92,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 2714.3599999999997,
     'avg': 29.5,
     'lower_quartile': 22.99,
     'median': 29.99,
     'upper_quartile': 29.99,
     'count': 92}}]},
 {'id': '11',
  'name': '2018-01-07 to 01-13',
  'from': '2018-01-07T00:00:00.000Z',
  'to': '2018-01-13T23:59:59.999Z',
  'count': 51,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 1386.7700000000004,
     'avg': 27.19,
     'lower_quartile': 19.99,
     'median': 22.99,
     'upper_quartile': 25.99,
     'count': 51}}]},
 {'id': '12',
  'name': '2018-01-14 to 01-20',
  'from': '2018-01-14T00:00:00.000Z',
  'to': '2018-01-20T23:59:59.999Z',
  'count': 29,
  'price': [{'usd': {'max': 69.9,
     'min': 15.99,
     'sum': 872.99,
     'avg': 30.1,
     'lower_quartile': 22.99,
     'median': 22.99,
     'upper_quartile': 45.9,
     'count': 29}}]},
 {'id': '13',
  'name': '2018-01-21 to 01-27',
  'from': '2018-01-21T00:00:00.000Z',
  'to': '2018-01-27T23:59:59.999Z',
  'count': 35,
  'price': [{'usd': {'max': 69.9,
     'min': 9.99,
     'sum': 1169.1200000000001,
     'avg': 33.4,
     'lower_quartile': 15.99,
     'median': 22.99,
     'upper_quartile': 49.9,
     'count': 35}}]},
 {'id': '14',
  'name': '2018-01-28 to 02-03',
  'from': '2018-01-28T00:00:00.000Z',
  'to': '2018-02-03T23:59:59.999Z',
  'count': 23,
  'price': [{'usd': {'max': 69.9,
     'min': 9.99,
     'sum': 1048.0600000000002,
     'avg': 45.57,
     'lower_quartile': 42.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 23}}]},
 {'id': '15',
  'name': '2018-02-04 to 02-10',
  'from': '2018-02-04T00:00:00.000Z',
  'to': '2018-02-10T23:59:59.999Z',
  'count': 27,
  'price': [{'usd': {'max': 69.9,
     'min': 15.99,
     'sum': 1317.57,
     'avg': 48.8,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 27}}]},
 {'id': '16',
  'name': '2018-02-11 to 02-17',
  'from': '2018-02-11T00:00:00.000Z',
  'to': '2018-02-17T23:59:59.999Z',
  'count': 40,
  'price': [{'usd': {'max': 69.9,
     'min': 9.99,
     'sum': 1664.99,
     'avg': 41.62,
     'lower_quartile': 18.99,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 40}}]},
 {'id': '17',
  'name': '2018-02-18 to 02-24',
  'from': '2018-02-18T00:00:00.000Z',
  'to': '2018-02-24T23:59:59.999Z',
  'count': 43,
  'price': [{'usd': {'max': 69.9,
     'min': 9.99,
     'sum': 2062.24,
     'avg': 47.96,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 43}}]},
 {'id': '18',
  'name': '2018-02-25 to 03-03',
  'from': '2018-02-25T00:00:00.000Z',
  'to': '2018-03-03T23:59:59.999Z',
  'count': 53,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 2828.79,
     'avg': 53.37,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 69.9,
     'count': 53}}]},
 {'id': '19',
  'name': '2018-03-04 to 03-10',
  'from': '2018-03-04T00:00:00.000Z',
  'to': '2018-03-10T23:59:59.999Z',
  'count': 51,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 2698.9,
     'avg': 52.92,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 51}}]},
 {'id': '20',
  'name': '2018-03-11 to 03-17',
  'from': '2018-03-11T00:00:00.000Z',
  'to': '2018-03-17T23:59:59.999Z',
  'count': 54,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 2852.6,
     'avg': 52.83,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 54}}]},
 {'id': '21',
  'name': '2018-03-18 to 03-24',
  'from': '2018-03-18T00:00:00.000Z',
  'to': '2018-03-24T23:59:59.999Z',
  'count': 63,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 3323.79,
     'avg': 52.76,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 63}}]},
 {'id': '22',
  'name': '2018-03-25 to 03-31',
  'from': '2018-03-25T00:00:00.000Z',
  'to': '2018-03-31T23:59:59.999Z',
  'count': 65,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 3439.4999999999995,
     'avg': 52.92,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 65}}]},
 {'id': '23',
  'name': '2018-04-01 to 04-07',
  'from': '2018-04-01T00:00:00.000Z',
  'to': '2018-04-07T23:59:59.999Z',
  'count': 61,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 3157.9900000000002,
     'avg': 51.77,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 61}}]},
 {'id': '24',
  'name': '2018-04-08 to 04-14',
  'from': '2018-04-08T00:00:00.000Z',
  'to': '2018-04-14T23:59:59.999Z',
  'count': 71,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 3764.8999999999996,
     'avg': 53.03,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 71}}]},
 {'id': '25',
  'name': '2018-04-15 to 04-21',
  'from': '2018-04-15T00:00:00.000Z',
  'to': '2018-04-21T23:59:59.999Z',
  'count': 84,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4403.689999999999,
     'avg': 52.42,
     'lower_quartile': 48.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 84}}]},
 {'id': '26',
  'name': '2018-04-22 to 04-28',
  'from': '2018-04-22T00:00:00.000Z',
  'to': '2018-04-28T23:59:59.999Z',
  'count': 83,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4407.699999999999,
     'avg': 53.1,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 83}}]},
 {'id': '27',
  'name': '2018-04-29 to 05-05',
  'from': '2018-04-29T00:00:00.000Z',
  'to': '2018-05-05T23:59:59.999Z',
  'count': 86,
  'price': [{'usd': {'max': 69.9,
     'min': 25.99,
     'sum': 4509.58,
     'avg': 52.44,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 86}}]},
 {'id': '28',
  'name': '2018-05-06 to 05-12',
  'from': '2018-05-06T00:00:00.000Z',
  'to': '2018-05-12T23:59:59.999Z',
  'count': 90,
  'price': [{'usd': {'max': 69.9,
     'min': 25.99,
     'sum': 4741.089999999998,
     'avg': 52.68,
     'lower_quartile': 46.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 90}}]},
 {'id': '29',
  'name': '2018-05-13 to 05-19',
  'from': '2018-05-13T00:00:00.000Z',
  'to': '2018-05-19T23:59:59.999Z',
  'count': 90,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4768.999999999999,
     'avg': 52.99,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 90}}]},
 {'id': '30',
  'name': '2018-05-20 to 05-26',
  'from': '2018-05-20T00:00:00.000Z',
  'to': '2018-05-26T23:59:59.999Z',
  'count': 98,
  'price': [{'usd': {'max': 69.9,
     'min': 25.99,
     'sum': 5112.38,
     'avg': 52.17,
     'lower_quartile': 46.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 98}}]},
 {'id': '31',
  'name': '2018-05-27 to 06-02',
  'from': '2018-05-27T00:00:00.000Z',
  'to': '2018-06-02T23:59:59.999Z',
  'count': 96,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 5060.399999999999,
     'avg': 52.71,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 96}}]},
 {'id': '32',
  'name': '2018-06-03 to 06-09',
  'from': '2018-06-03T00:00:00.000Z',
  'to': '2018-06-09T23:59:59.999Z',
  'count': 99,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 5182.0999999999985,
     'avg': 52.34,
     'lower_quartile': 47.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 99}}]},
 {'id': '33',
  'name': '2018-06-10 to 06-16',
  'from': '2018-06-10T00:00:00.000Z',
  'to': '2018-06-16T23:59:59.999Z',
  'count': 99,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 5202.1,
     'avg': 52.55,
     'lower_quartile': 47.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 99}}]},
 {'id': '34',
  'name': '2018-06-17 to 06-23',
  'from': '2018-06-17T00:00:00.000Z',
  'to': '2018-06-23T23:59:59.999Z',
  'count': 84,
  'price': [{'usd': {'max': 69.9,
     'min': 25.99,
     'sum': 3180.35,
     'avg': 37.86,
     'lower_quartile': 29.99,
     'median': 35.99,
     'upper_quartile': 45.99,
     'count': 84}}]},
 {'id': '35',
  'name': '2018-06-24 to 06-30',
  'from': '2018-06-24T00:00:00.000Z',
  'to': '2018-06-30T23:59:59.999Z',
  'count': 76,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 2898.43,
     'avg': 38.14,
     'lower_quartile': 29.99,
     'median': 35.99,
     'upper_quartile': 45.99,
     'count': 76}}]},
 {'id': '36',
  'name': '2018-07-01 to 07-07',
  'from': '2018-07-01T00:00:00.000Z',
  'to': '2018-07-07T23:59:59.999Z',
  'count': 5,
  'price': [{'usd': {'max': 49.9,
     'min': 35.9,
     'sum': 231.5,
     'avg': 46.3,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 5}}]},
 {'id': '37',
  'name': '2018-07-08 to 07-14',
  'from': '2018-07-08T00:00:00.000Z',
  'to': '2018-07-14T23:59:59.999Z',
  'count': 31,
  'price': [{'usd': {'max': 69.9,
     'min': 15.99,
     'sum': 1046.52,
     'avg': 33.76,
     'lower_quartile': 22.99,
     'median': 25.99,
     'upper_quartile': 45.9,
     'count': 31}}]},
 {'id': '38',
  'name': '2018-07-15 to 07-21',
  'from': '2018-07-15T00:00:00.000Z',
  'to': '2018-07-21T23:59:59.999Z',
  'count': 25,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 938.49,
     'avg': 37.54,
     'lower_quartile': 25.99,
     'median': 45.9,
     'upper_quartile': 45.9,
     'count': 25}}]},
 {'id': '39',
  'name': '2018-07-22 to 07-28',
  'from': '2018-07-22T00:00:00.000Z',
  'to': '2018-07-28T23:59:59.999Z',
  'count': 27,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 1160.9299999999998,
     'avg': 43,
     'lower_quartile': 29.45,
     'median': 45.9,
     'upper_quartile': 49.9,
     'count': 27}}]},
 {'id': '40',
  'name': '2018-07-29 to 08-04',
  'from': '2018-07-29T00:00:00.000Z',
  'to': '2018-08-04T23:59:59.999Z',
  'count': 45,
  'price': [{'usd': {'max': 69.9,
     'min': 15.99,
     'sum': 2161.9500000000003,
     'avg': 48.04,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 45}}]},
 {'id': '41',
  'name': '2018-08-05 to 08-11',
  'from': '2018-08-05T00:00:00.000Z',
  'to': '2018-08-11T23:59:59.999Z',
  'count': 51,
  'price': [{'usd': {'max': 69.9,
     'min': 17.99,
     'sum': 2505.26,
     'avg': 49.12,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 51}}]},
 {'id': '42',
  'name': '2018-08-12 to 08-18',
  'from': '2018-08-12T00:00:00.000Z',
  'to': '2018-08-18T23:59:59.999Z',
  'count': 60,
  'price': [{'usd': {'max': 69.9,
     'min': 12.99,
     'sum': 2794.7200000000003,
     'avg': 46.58,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 60}}]},
 {'id': '43',
  'name': '2018-08-19 to 08-25',
  'from': '2018-08-19T00:00:00.000Z',
  'to': '2018-08-25T23:59:59.999Z',
  'count': 61,
  'price': [{'usd': {'max': 69.9,
     'min': 12.99,
     'sum': 3075.08,
     'avg': 50.41,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 61}}]},
 {'id': '44',
  'name': '2018-08-26 to 09-01',
  'from': '2018-08-26T00:00:00.000Z',
  'to': '2018-09-01T23:59:59.999Z',
  'count': 60,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 3056.09,
     'avg': 50.93,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 60}}]},
 {'id': '45',
  'name': '2018-09-02 to 09-08',
  'from': '2018-09-02T00:00:00.000Z',
  'to': '2018-09-08T23:59:59.999Z',
  'count': 72,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 3648.8899999999994,
     'avg': 50.68,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 72}}]},
 {'id': '46',
  'name': '2018-09-09 to 09-15',
  'from': '2018-09-09T00:00:00.000Z',
  'to': '2018-09-15T23:59:59.999Z',
  'count': 75,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 3818.5899999999992,
     'avg': 50.91,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 75}}]},
 {'id': '47',
  'name': '2018-09-16 to 09-22',
  'from': '2018-09-16T00:00:00.000Z',
  'to': '2018-09-22T23:59:59.999Z',
  'count': 83,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4227.969999999999,
     'avg': 50.94,
     'lower_quartile': 45.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 83}}]},
 {'id': '48',
  'name': '2018-09-23 to 09-29',
  'from': '2018-09-23T00:00:00.000Z',
  'to': '2018-09-29T23:59:59.999Z',
  'count': 82,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4133.89,
     'avg': 50.41,
     'lower_quartile': 39.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 82}}]},
 {'id': '49',
  'name': '2018-09-30 to 10-06',
  'from': '2018-09-30T00:00:00.000Z',
  'to': '2018-10-06T23:59:59.999Z',
  'count': 90,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4493.36,
     'avg': 49.93,
     'lower_quartile': 39.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 90}}]},
 {'id': '50',
  'name': '2018-10-07 to 10-13',
  'from': '2018-10-07T00:00:00.000Z',
  'to': '2018-10-13T23:59:59.999Z',
  'count': 82,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4034.069999999999,
     'avg': 49.2,
     'lower_quartile': 39.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 82}}]},
 {'id': '51',
  'name': '2018-10-14 to 10-20',
  'from': '2018-10-14T00:00:00.000Z',
  'to': '2018-10-20T23:59:59.999Z',
  'count': 91,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4652.9,
     'avg': 51.13,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 91}}]},
 {'id': '52',
  'name': '2018-10-21 to 10-27',
  'from': '2018-10-21T00:00:00.000Z',
  'to': '2018-10-27T23:59:59.999Z',
  'count': 93,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4612.88,
     'avg': 49.6,
     'lower_quartile': 39.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 93}}]},
 {'id': '53',
  'name': '2018-10-28 to 11-03',
  'from': '2018-10-28T00:00:00.000Z',
  'to': '2018-11-03T23:59:59.999Z',
  'count': 91,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4632.9,
     'avg': 50.91,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 91}}]},
 {'id': '54',
  'name': '2018-11-04 to 11-10',
  'from': '2018-11-04T00:00:00.000Z',
  'to': '2018-11-10T23:59:59.999Z',
  'count': 91,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4672.9,
     'avg': 51.35,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 91}}]},
 {'id': '55',
  'name': '2018-11-11 to 11-17',
  'from': '2018-11-11T00:00:00.000Z',
  'to': '2018-11-17T23:59:59.999Z',
  'count': 91,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4632.900000000001,
     'avg': 50.91,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 91}}]},
 {'id': '56',
  'name': '2018-11-18 to 11-24',
  'from': '2018-11-18T00:00:00.000Z',
  'to': '2018-11-24T23:59:59.999Z',
  'count': 94,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4772.78,
     'avg': 50.77,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 94}}]},
 {'id': '57',
  'name': '2018-11-25 to 12-01',
  'from': '2018-11-25T00:00:00.000Z',
  'to': '2018-12-01T23:59:59.999Z',
  'count': 85,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4383.5,
     'avg': 51.57,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 85}}]},
 {'id': '58',
  'name': '2018-12-02 to 12-08',
  'from': '2018-12-02T00:00:00.000Z',
  'to': '2018-12-08T23:59:59.999Z',
  'count': 97,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 4912.48,
     'avg': 50.64,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 97}}]},
 {'id': '59',
  'name': '2018-12-09 to 12-15',
  'from': '2018-12-09T00:00:00.000Z',
  'to': '2018-12-15T23:59:59.999Z',
  'count': 82,
  'price': [{'usd': {'max': 69.9,
     'min': 35.9,
     'sum': 4213.8,
     'avg': 51.39,
     'lower_quartile': 49.9,
     'median': 49.9,
     'upper_quartile': 49.9,
     'count': 82}}]},
 {'id': '60',
  'name': '2018-12-16 to 12-22',
  'from': '2018-12-16T00:00:00.000Z',
  'to': '2018-12-22T23:59:59.999Z',
  'count': 102,
  'price': [{'usd': {'max': 69.9,
     'min': 19.99,
     'sum': 5098.07,
     'avg': 49.98,
     'lower_quartile': 39.9,
     'median': 49.9,
     'upper_quartile': 49.9,

In [9]:
output['skuHistogram'][0]['price'][0] == {}

True

In [10]:
def expand_agg_price(skuhist_list, trend_top, trend, retailer):
    '''
    @description: this function expands the dataframe from the API call to include the columns for the   months and the
                prices of each of the products during that month
    @params:
    - skuhis_list: the output of the API call and key 'products'
    - trend: trend to search, i.e. "high waisted jeans"
    - retailer: the retailer name
    - metric: count, median, min, max
    @return: returns the expanded dataframe, single row
    '''
    count_df= pd.DataFrame()
    count_df.at[0,"trend_top"] = trend_top
    count_df.at[0,"trend"] = trend
    count_df.at[0,"ret_id"] = retailer #only 1
    med_df= pd.DataFrame()
    med_df.at[0,"trend_top"] = trend_top
    med_df.at[0,"trend"] = trend
    med_df.at[0,"ret_id"] = retailer #only 1
    month_cols = ['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09',\
                 '2018-10','2018-11','2018-12','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06',\
                  '2019-07','2019-08','2019-09']
    for c in month_cols:
        count_df[c] = np.nan
        med_df[c] = np.nan
        
    for b in skuhist_list:
        if not b['price'][0] == {}:
            
            date = b['from'][:7]
            count = b['count']
            med = b['price'][0]['usd']['median']
            count_df.at[0,date] = count
            med_df.at[0,date] = med
    
    return count_df, med_df

In [11]:
count_df_test, med_df_test = expand_agg_price(output['skuHistogram'], 'high waisted jeans', 'Zara')

In [12]:
count_df_test

,trend,ret_id,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2017-10,2017-11,2017-12,2019-10
0,high waisted jeans,Zara,23.0,53.0,65.0,86.0,96.0,76.0,45.0,60.0,...,36.0,40.0,75.0,120.0,107.0,147.0,16.0,91.0,92.0,167.0

In [13]:
med_df_test

,trend,ret_id,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2017-10,2017-11,2017-12,2019-10
0,high waisted jeans,Zara,49.9,49.9,49.9,49.9,49.9,35.99,49.9,49.9,...,44.9,44.9,22.99,29.99,49.9,49.9,39.9,39.9,29.99,49.9

In [14]:
#read retailer ID
ret_df = pd.read_csv('Retailer_ID.csv', encoding = "ISO-8859-1")

In [15]:
ret_df.head(4)

         Market Index     Retail Site             Retailer ID Crawled?
0  Contemporary Index  Alice + Olivia                     864  Crawler
1  Contemporary Index   Isabel Marant  400331576-isabelmarant  Crawler
2  Contemporary Index          A.L.C.            45771179-alc  Crawler
3  Contemporary Index          Sandro                    2412  Crawler

In [16]:
ret_df = ret_df.drop(range(104,len(ret_df))) #truncate Off Price Index

In [17]:
ret_df.shape

(104, 4)

In [18]:
ret_df['Retailer ID'].values

array(['864', '400331576-isabelmarant', '45771179-alc', '2412', '801',
       '760', '152651556-acnestudios', '804731108-iro', '1909',
       '750312749-thekooples', '760', '359318405-lagence', '105', '21',
       '1691', '500269677-aritzia', '8', '25', '306', '1', '23',
       '756639511-seedheritage', '574', '930080541-massimodutti',
       '398219112-torrid', '2001', '2294', nan, '1690', '58533412-zara',
       '108', '36', '1745', '483', '408', '1689', '970193273-rue21', '29',
       '1841', '491303298-next', '2351', '2531', nan, '27', '895', '1375',
       '1402', '6', '7', '994', '769926722-hermes', '10', '9', '2601',
       '344', '625324324-louisvuitton', '924989490-prada',
       '562481900-saintlaurent', '312443187-valentino', '2493',
       '157913149-tomford', '900125254-chloe', '777583743-dolcegabbana',
       '220138893-dior', '1787', '494', '1340', '716752426-walmart',
       '928', '413', '2', '133', '150', '3', '11', '986-belk',
       '842544654-childrensplace', '171870510-carters', '302069529-cvs',
       '61', '42', '13', '190', '357261492-credobeauty',
       '887769305-bluemercury', '64', '101', '41', '1276', '720', '5',
       '4', '54', '1652', '1953', '2382', '2548', '207609522-colourpop',
       '311294739-kyliecosmetics', '378778715-bonobos', '1138',
       '4421110-universalstandard', '2506', nan], dtype=object)

In [19]:
ret_df[ret_df['Retailer ID'].isnull()] #drop ones where retailers is na

            Market Index         Retail Site Retailer ID       Crawled?
27    Fast Fashion Index           Loralette         NaN        Crawler
42          Luxury Index            11Honor         NaN  To be Crawled
103  Specialty/DTC Index  Rockets of Awesome         NaN  To be Crawled

In [20]:
ret_df = ret_df.drop([27, 42, 103]) #truncate Off Price Index

In [38]:
#pulling all of it together
#trends = ['neon', 'plaid', 'high%20waisted%20jeans', 'animal print', 'one shoulder', ]
trends = ['neon', 'one%20shoulder', 'paper%20bag%20waist', 'puff%20sleeve', 'high%20waisted%20jeans', 'animal%20print']
retailer_ids = ret_df["Retailer ID"].values
#zara, KHOLS, Moda Operandi, ASOS
dflist_cnt = []
dflist_med=[]
for trend in trends:
    for ret in retailer_ids:
        print(trend, ret)
        api_endpt = 'https://market-api-3.trendalytics.co/v1/products/histogram?filters=sku&cat=womens-clothes'\
            '&fts='+trend+'&fl=r'+ret+'&'\
            'regions=us&pricetype=current&sku_by=week&month_span=20'
        response = requests.get(api_endpt)
        try:
            output = json.loads(response.content.decode('utf-8'))
        except:
            print("Response status code is: ",response.status_code)
            
        count_i, med_i = expand_agg_price(output['skuHistogram'], trend, ret)
        dflist_cnt.append(count_i)
        dflist_med.append(med_i)
    
df_cnt_all = pd.concat(dflist_cnt, axis = 0, sort = True)
df_med_all = pd.concat(dflist_med, axis = 0, sort= True)
    #df_all.to_csv(trend+".csv")
    
            
print('finished')

neon 864
neon 400331576-isabelmarant
neon 45771179-alc
neon 2412
neon 801
neon 760
neon 152651556-acnestudios
neon 804731108-iro
neon 1909
neon 750312749-thekooples
neon 760
neon 359318405-lagence
neon 105
neon 21
neon 1691
neon 500269677-aritzia
neon 8
neon 25
neon 306
neon 1
neon 23
neon 756639511-seedheritage
neon 574
neon 930080541-massimodutti
neon 398219112-torrid
neon 2001
neon 2294
neon 1690
neon 58533412-zara
neon 108
neon 36
neon 1745
neon 483
neon 408
neon 1689
neon 970193273-rue21
neon 29
neon 1841
neon 491303298-next
neon 2351
neon 2531
neon 27
neon 895
neon 1375
neon 1402
neon 6
neon 7
neon 994
neon 769926722-hermes
neon 10
neon 9
neon 2601
neon 344
neon 625324324-louisvuitton
neon 924989490-prada
neon 562481900-saintlaurent
neon 312443187-valentino
neon 2493
neon 157913149-tomford
neon 900125254-chloe
neon 777583743-dolcegabbana
neon 220138893-dior
neon 1787
neon 494
neon 1340
neon 716752426-walmart
neon 928
neon 413
neon 2
neon 133
neon 150
neon 3
neon 11
neon 986-belk
neon 842544654-childrensplace
neon 171870510-carters
neon 302069529-cvs
neon 61
neon 42
neon 13
neon 190
neon 357261492-credobeauty
neon 887769305-bluemercury
neon 64
neon 101
neon 41
neon 1276
neon 720
neon 5
neon 4
neon 54
neon 1652
neon 1953
neon 2382
neon 2548
neon 207609522-colourpop
neon 311294739-kyliecosmetics
neon 378778715-bonobos
neon 1138
neon 4421110-universalstandard
neon 2506
one%20shoulder 864
one%20shoulder 400331576-isabelmarant
one%20shoulder 45771179-alc
one%20shoulder 2412
one%20shoulder 801
one%20shoulder 760
one%20shoulder 152651556-acnestudios
one%20shoulder 804731108-iro
one%20shoulder 1909
one%20shoulder 750312749-thekooples
one%20shoulder 760
one%20shoulder 359318405-lagence
one%20shoulder 105
one%20shoulder 21
one%20shoulder 1691
one%20shoulder 500269677-aritzia
one%20shoulder 8
one%20shoulder 25
one%20shoulder 306
one%20shoulder 1
one%20shoulder 23
one%20shoulder 756639511-seedheritage
one%20shoulder 574
one%20shoulder 930080541-massimodutti
one%20shoulder 398219112-torrid
one%20shoulder 2001
one%20shoulder 2294
one%20shoulder 1690
one%20shoulder 58533412-zara
one%20shoulder 108
one%20shoulder 36
one%20shoulder 1745
one%20shoulder 483
one%20shoulder 408
one%20shoulder 1689
one%20shoulder 970193273-rue21
one%20shoulder 29
one%20shoulder 1841
one%20shoulder 491303298-next
one%20shoulder 2351
one%20shoulder 2531
one%20shoulder 27
one%20shoulder 895
one%20shoulder 1375
one%20shoulder 1402
one%20shoulder 6
one%20shoulder 7
one%20shoulder 994
one%20shoulder 769926722-hermes
one%20shoulder 10
one%20shoulder 9
one%20shoulder 2601
one%20shoulder 344
one%20shoulder 625324324-louisvuitton
one%20shoulder 924989490-prada
one%20shoulder 562481900-saintlaurent
one%20shoulder 312443187-valentino
one%20shoulder 2493
one%20shoulder 157913149-tomford
one%20shoulder 900125254-chloe
one%20shoulder 777583743-dolcegabbana
one%20shoulder 220138893-dior
one%20shoulder 1787
one%20shoulder 494
one%20shoulder 1340
one%20shoulder 716752426-walmart
one%20shoulder 928
one%20shoulder 413
one%20shoulder 2
one%20shoulder 133
one%20shoulder 150
one%20shoulder 3
one%20shoulder 11
one%20shoulder 986-belk
one%20shoulder 842544654-childrensplace
one%20shoulder 171870510-carters
one%20shoulder 302069529-cvs
one%20shoulder 61
one%20shoulder 42
one%20shoulder 13
one%20shoulder 190
one%20shoulder 357261492-credobeauty
one%20shoulder 887769305-bluemercury
one%20shoulder 64
one%20shoulder 101
one%20shoulder 41
one%20shoulder 1276
one%20shoulder 720
one%20shoulder 5
one%20shoulder 4
one%20shoulder 54
one%20shoulder 1652
one%20shoulder 1953
one%20shoulder 2382
one%20shoulder 2548
one%20shoulder 207609522-colourpop
one%20shoulder 311294739-kyliecosmetics
one%20shoulder 378778715-bonobos
one%20shoulder 1138
one%20shoulder 4421110-universalstandard
one%20shoulder 2506
paper%20bag%20waist 864
paper%20bag%20waist 400331576-isabelmarant
paper%20bag%20waist 45771179-alc
paper%20bag%20waist 2412
paper%20bag%20waist 801
paper%20bag%20waist 760
paper%20bag%20waist 152651556-acnestudios
paper%20bag%20waist 804731108-iro
paper%20bag%20waist 1909
paper%20bag%20waist 750312749-thekooples
paper%20bag%20waist 760
paper%20bag%20waist 359318405-lagence
paper%20bag%20waist 105
paper%20bag%20waist 21
paper%20bag%20waist 1691
paper%20bag%20waist 500269677-aritzia
paper%20bag%20waist 8
paper%20bag%20waist 25
paper%20bag%20waist 306
paper%20bag%20waist 1
paper%20bag%20waist 23
paper%20bag%20waist 756639511-seedheritage
paper%20bag%20waist 574
paper%20bag%20waist 930080541-massimodutti
paper%20bag%20waist 398219112-torrid
paper%20bag%20waist 2001
paper%20bag%20waist 2294
paper%20bag%20waist 1690
paper%20bag%20waist 58533412-zara
paper%20bag%20waist 108
paper%20bag%20waist 36
paper%20bag%20waist 1745
paper%20bag%20waist 483
paper%20bag%20waist 408
paper%20bag%20waist 1689
paper%20bag%20waist 970193273-rue21
paper%20bag%20waist 29
paper%20bag%20waist 1841
paper%20bag%20waist 491303298-next
paper%20bag%20waist 2351
paper%20bag%20waist 2531
paper%20bag%20waist 27
paper%20bag%20waist 895
paper%20bag%20waist 1375
paper%20bag%20waist 1402
paper%20bag%20waist 6
paper%20bag%20waist 7
paper%20bag%20waist 994
paper%20bag%20waist 769926722-hermes
paper%20bag%20waist 10
paper%20bag%20waist 9
paper%20bag%20waist 2601
paper%20bag%20waist 344
paper%20bag%20waist 625324324-louisvuitton
paper%20bag%20waist 924989490-prada
paper%20bag%20waist 562481900-saintlaurent
paper%20bag%20waist 312443187-valentino
paper%20bag%20waist 2493
paper%20bag%20waist 157913149-tomford
paper%20bag%20waist 900125254-chloe
paper%20bag%20waist 777583743-dolcegabbana
paper%20bag%20waist 220138893-dior
paper%20bag%20waist 1787
paper%20bag%20waist 494
paper%20bag%20waist 1340
paper%20bag%20waist 716752426-walmart
paper%20bag%20waist 928
paper%20bag%20waist 413
paper%20bag%20waist 2
paper%20bag%20waist 133
paper%20bag%20waist 150
paper%20bag%20waist 3
paper%20bag%20waist 11
paper%20bag%20waist 986-belk
paper%20bag%20waist 842544654-childrensplace
paper%20bag%20waist 171870510-carters
paper%20bag%20waist 302069529-cvs
paper%20bag%20waist 61
paper%20bag%20waist 42
paper%20bag%20waist 13
paper%20bag%20waist 190
paper%20bag%20waist 357261492-credobeauty
paper%20bag%20waist 887769305-bluemercury
paper%20bag%20waist 64
paper%20bag%20waist 101
paper%20bag%20waist 41
paper%20bag%20waist 1276
paper%20bag%20waist 720
paper%20bag%20waist 5
paper%20bag%20waist 4
paper%20bag%20waist 54
paper%20bag%20waist 1652
paper%20bag%20waist 1953
paper%20bag%20waist 2382
paper%20bag%20waist 2548
paper%20bag%20waist 207609522-colourpop
paper%20bag%20waist 311294739-kyliecosmetics
paper%20bag%20waist 378778715-bonobos
paper%20bag%20waist 1138
paper%20bag%20waist 4421110-universalstandard
paper%20bag%20waist 2506
puff%20sleeve 864
puff%20sleeve 400331576-isabelmarant
puff%20sleeve 45771179-alc
puff%20sleeve 2412
puff%20sleeve 801
puff%20sleeve 760
puff%20sleeve 152651556-acnestudios
puff%20sleeve 804731108-iro
puff%20sleeve 1909
puff%20sleeve 750312749-thekooples
puff%20sleeve 760
puff%20sleeve 359318405-lagence
puff%20sleeve 105
puff%20sleeve 21
puff%20sleeve 1691
puff%20sleeve 500269677-aritzia
puff%20sleeve 8
puff%20sleeve 25
puff%20sleeve 306
puff%20sleeve 1
puff%20sleeve 23
puff%20sleeve 756639511-seedheritage
puff%20sleeve 574
puff%20sleeve 930080541-massimodutti
puff%20sleeve 398219112-torrid
puff%20sleeve 2001
puff%20sleeve 2294
puff%20sleeve 1690
puff%20sleeve 58533412-zara
puff%20sleeve 108
puff%20sleeve 36
puff%20sleeve 1745
puff%20sleeve 483
puff%20sleeve 408
puff%20sleeve 1689
puff%20sleeve 970193273-rue21
puff%20sleeve 29
puff%20sleeve 1841
puff%20sleeve 491303298-next
puff%20sleeve 2351
puff%20sleeve 2531
puff%20sleeve 27
puff%20sleeve 895
puff%20sleeve 1375
puff%20sleeve 1402
puff%20sleeve 6
puff%20sleeve 7
puff%20sleeve 994
puff%20sleeve 769926722-hermes
puff%20sleeve 10
puff%20sleeve 9
puff%20sleeve 2601
puff%20sleeve 344
puff%20sleeve 625324324-louisvuitton
puff%20sleeve 924989490-prada
puff%20sleeve 562481900-saintlaurent
puff%20sleeve 312443187-valentino
puff%20sleeve 2493
puff%20sleeve 157913149-tomford
puff%20sleeve 900125254-chloe
puff%20sleeve 777583743-dolcegabbana
puff%20sleeve 220138893-dior
puff%20sleeve 1787
puff%20sleeve 494
puff%20sleeve 1340

puff%20sleeve 716752426-walmart
puff%20sleeve 928
puff%20sleeve 413
puff%20sleeve 2
puff%20sleeve 133
puff%20sleeve 150
puff%20sleeve 3
puff%20sleeve 11
puff%20sleeve 986-belk
puff%20sleeve 842544654-childrensplace
puff%20sleeve 171870510-carters
puff%20sleeve 302069529-cvs
puff%20sleeve 61
puff%20sleeve 42
puff%20sleeve 13
puff%20sleeve 190
puff%20sleeve 357261492-credobeauty
puff%20sleeve 887769305-bluemercury
puff%20sleeve 64
puff%20sleeve 101
puff%20sleeve 41
puff%20sleeve 1276
puff%20sleeve 720
puff%20sleeve 5
puff%20sleeve 4
puff%20sleeve 54
puff%20sleeve 1652
puff%20sleeve 1953
puff%20sleeve 2382
puff%20sleeve 2548
puff%20sleeve 207609522-colourpop
puff%20sleeve 311294739-kyliecosmetics
puff%20sleeve 378778715-bonobos
puff%20sleeve 1138
puff%20sleeve 4421110-universalstandard
puff%20sleeve 2506
high%20waisted%20jeans 864
high%20waisted%20jeans 400331576-isabelmarant
high%20waisted%20jeans 45771179-alc
high%20waisted%20jeans 2412
high%20waisted%20jeans 801
high%20waisted%20jeans 760
high%20waisted%20jeans 152651556-acnestudios
high%20waisted%20jeans 804731108-iro
high%20waisted%20jeans 1909
high%20waisted%20jeans 750312749-thekooples
high%20waisted%20jeans 760
high%20waisted%20jeans 359318405-lagence
high%20waisted%20jeans 105
high%20waisted%20jeans 21
high%20waisted%20jeans 1691
high%20waisted%20jeans 500269677-aritzia
high%20waisted%20jeans 8
high%20waisted%20jeans 25
high%20waisted%20jeans 306
high%20waisted%20jeans 1
high%20waisted%20jeans 23
high%20waisted%20jeans 756639511-seedheritage
high%20waisted%20jeans 574
high%20waisted%20jeans 930080541-massimodutti
high%20waisted%20jeans 398219112-torrid
high%20waisted%20jeans 2001
high%20waisted%20jeans 2294
high%20waisted%20jeans 1690
high%20waisted%20jeans 58533412-zara
high%20waisted%20jeans 108
high%20waisted%20jeans 36
high%20waisted%20jeans 1745
high%20waisted%20jeans 483
high%20waisted%20jeans 408
high%20waisted%20jeans 1689
high%20waisted%20jeans 970193273-rue21
high%20waisted%20jeans 29
high%20waisted%20jeans 1841
high%20waisted%20jeans 491303298-next
high%20waisted%20jeans 2351
high%20waisted%20jeans 2531
high%20waisted%20jeans 27
high%20waisted%20jeans 895
high%20waisted%20jeans 1375
high%20waisted%20jeans 1402
high%20waisted%20jeans 6
high%20waisted%20jeans 7
high%20waisted%20jeans 994
high%20waisted%20jeans 769926722-hermes
high%20waisted%20jeans 10
high%20waisted%20jeans 9
high%20waisted%20jeans 2601
high%20waisted%20jeans 344
high%20waisted%20jeans 625324324-louisvuitton
high%20waisted%20jeans 924989490-prada
high%20waisted%20jeans 562481900-saintlaurent
high%20waisted%20jeans 312443187-valentino
high%20waisted%20jeans 2493
high%20waisted%20jeans 157913149-tomford
high%20waisted%20jeans 900125254-chloe
high%20waisted%20jeans 777583743-dolcegabbana
high%20waisted%20jeans 220138893-dior
high%20waisted%20jeans 1787
high%20waisted%20jeans 494
high%20waisted%20jeans 1340
high%20waisted%20jeans 716752426-walmart
high%20waisted%20jeans 928
high%20waisted%20jeans 413
high%20waisted%20jeans 2
high%20waisted%20jeans 133
high%20waisted%20jeans 150
high%20waisted%20jeans 3
high%20waisted%20jeans 11
high%20waisted%20jeans 986-belk
high%20waisted%20jeans 842544654-childrensplace
high%20waisted%20jeans 171870510-carters
high%20waisted%20jeans 302069529-cvs
high%20waisted%20jeans 61
high%20waisted%20jeans 42
high%20waisted%20jeans 13
high%20waisted%20jeans 190
high%20waisted%20jeans 357261492-credobeauty
high%20waisted%20jeans 887769305-bluemercury
high%20waisted%20jeans 64
high%20waisted%20jeans 101
high%20waisted%20jeans 41
high%20waisted%20jeans 1276
high%20waisted%20jeans 720
high%20waisted%20jeans 5
high%20waisted%20jeans 4
high%20waisted%20jeans 54
high%20waisted%20jeans 1652
high%20waisted%20jeans 1953
high%20waisted%20jeans 2382
high%20waisted%20jeans 2548
high%20waisted%20jeans 207609522-colourpop
high%20waisted%20jeans 311294739-kyliecosmetics
high%20waisted%20jeans 378778715-bonobos
high%20waisted%20jeans 1138
high%20waisted%20jeans 4421110-universalstandard
high%20waisted%20jeans 2506
animal%20print 864
animal%20print 400331576-isabelmarant
animal%20print 45771179-alc
animal%20print 2412
animal%20print 801
animal%20print 760
animal%20print 152651556-acnestudios
animal%20print 804731108-iro
animal%20print 1909
animal%20print 750312749-thekooples
animal%20print 760
animal%20print 359318405-lagence
animal%20print 105
animal%20print 21
animal%20print 1691
animal%20print 500269677-aritzia
animal%20print 8
animal%20print 25
animal%20print 306
animal%20print 1
animal%20print 23
animal%20print 756639511-seedheritage
animal%20print 574
animal%20print 930080541-massimodutti
animal%20print 398219112-torrid
animal%20print 2001
animal%20print 2294
animal%20print 1690
animal%20print 58533412-zara
animal%20print 108
animal%20print 36
animal%20print 1745
animal%20print 483
animal%20print 408
animal%20print 1689
animal%20print 970193273-rue21
animal%20print 29
animal%20print 1841
animal%20print 491303298-next
animal%20print 2351
animal%20print 2531
animal%20print 27
animal%20print 895
animal%20print 1375
animal%20print 1402
animal%20print 6
animal%20print 7
animal%20print 994
animal%20print 769926722-hermes
animal%20print 10
animal%20print 9
animal%20print 2601
animal%20print 344
animal%20print 625324324-louisvuitton
animal%20print 924989490-prada
animal%20print 562481900-saintlaurent
animal%20print 312443187-valentino
animal%20print 2493
animal%20print 157913149-tomford
animal%20print 900125254-chloe
animal%20print 777583743-dolcegabbana
animal%20print 220138893-dior
animal%20print 1787
animal%20print 494
animal%20print 1340
animal%20print 716752426-walmart
animal%20print 928
animal%20print 413
animal%20print 2
animal%20print 133
animal%20print 150
animal%20print 3
animal%20print 11
animal%20print 986-belk
animal%20print 842544654-childrensplace
animal%20print 171870510-carters
animal%20print 302069529-cvs
animal%20print 61
animal%20print 42
animal%20print 13
animal%20print 190
animal%20print 357261492-credobeauty
animal%20print 887769305-bluemercury
animal%20print 64
animal%20print 101
animal%20print 41
animal%20print 1276
animal%20print 720
animal%20print 5
animal%20print 4
animal%20print 54
animal%20print 1652
animal%20print 1953
animal%20print 2382
animal%20print 2548
animal%20print 207609522-colourpop
animal%20print 311294739-kyliecosmetics
animal%20print 378778715-bonobos
animal%20print 1138
animal%20print 4421110-universalstandard
animal%20print 2506
finished

In [39]:
df_cnt_all.tail(5)

,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,ret_id,trend
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311294739-kyliecosmetics,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378778715-bonobos,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1138,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4421110-universalstandard,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2506,animal%20print

In [40]:
df_med_all.tail(5)

,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,ret_id,trend
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311294739-kyliecosmetics,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378778715-bonobos,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1138,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4421110-universalstandard,animal%20print
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2506,animal%20print

In [41]:
ret_df.columns

Index(['Market Index', 'Retail Site', 'Retailer ID', 'Crawled?'], dtype='object')

In [42]:
df_cnt_all_m = ret_df.merge(df_cnt_all, left_on = 'Retailer ID', right_on ='ret_id')
df_med_all_m = ret_df.merge(df_med_all, left_on = 'Retailer ID', right_on ='ret_id')

In [46]:
df_med_all_m[df_med_all_m["trend"] == "one%20shoulder"]

,Market Index,Retail Site,Retailer ID,Crawled?,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,ret_id,trend
1,Contemporary Index,Alice + Olivia,864,Crawler,NaN,365.0,402.5,357.0,237.0,176.0,...,277.0,277.0,277.0,795.0,795.0,795.0,795.0,795.0,864,one%20shoulder
7,Contemporary Index,Isabel Marant,400331576-isabelmarant,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,395.0,395.0,294.0,269.5,245.0,NaN,NaN,NaN,400331576-isabelmarant,one%20shoulder
13,Contemporary Index,A.L.C.,45771179-alc,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,295.0,545.0,620.0,620.0,620.0,306.5,248.0,456.5,45771179-alc,one%20shoulder
19,Contemporary Index,Sandro,2412,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2412,one%20shoulder
25,Contemporary Index,AllSaints,801,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,228.0,124.0,136.0,136.0,114.0,NaN,NaN,801,one%20shoulder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,Specialty/DTC Index,Kylie Cosmetics,311294739-kyliecosmetics,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311294739-kyliecosmetics,one%20shoulder
595,Specialty/DTC Index,Bonobos,378778715-bonobos,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378778715-bonobos,one%20shoulder
601,Specialty/DTC Index,BaubleBar,1138,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1138,one%20shoulder
607,Specialty/DTC Index,Universal Standard,4421110-universalstandard,Crawler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4421110-universalstandard,one%20shoulder
613,Specialty/DTC Index,ThirdLove,2506,Crawler,NaN,NaN,74.0,72.0,72.0,72.0,...,72.0,72.0,68.0,68.0,68.0,68.0,68.0,68.0,2506,one%20shoulder

In [47]:
df_cnt_all_m.to_csv('df_cnt_all_103119.csv')
df_med_all_m.to_csv('df_med_all_103119.csv')

In [1]:
### Nov 29th 2019 data pull ###

In [3]:
search_data = pkl.load(open("./data/search_data_2019-09.pkl", "rb"))

NameError: name 'pkl' is not defined

In [2]:
termDict_2

{'Open Shoulder': ['open shoulder',
  'off the shoulder',
  'off shoulder',
  'cold shoulder'],
 'Satin/Silk': ['satin', 'silk'],
 'Animal Print': ['animal print',
  'leopard',
  'cheetah',
  'tiger',
  'snakeskin',
  'zebra'],
 'Prairie': ['prairie',
  'milkmaid',
  'puff sleeve',
  'puff shoulder',
  'smocked, smocking'],
 'Utility': ['utility', 'cargo', 'boiler suit']}